@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.lead .text-muted {
padding-top: 20px;
font-weight: bold;
}

.home-title {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 230px;
    height: 16px;
}

.home-title a {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 60px;
    text-decoration: none;
}

.navigation {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 300px;
    border-radius: 10px;
    border-left: 5px solid #E1F9F7;
    box-sizing: initial;
    background: rgb(160,217,180);
    background: linear-gradient(170deg, rgba(160,217,180,1) 47%, rgba(130,207,172,1) 67%, rgba(84,191,161,1) 100%);
 }
 

 .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 6px;
    padding-top: 120px;
    width: 100%;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li.active {
    background-color: #fff;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li.active a {
    color: #333;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.form {
    position: fixed;
    top: 30px;
    left: 400px;
    background-color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 40px 40px;
    border-radius: 15px;
}

.form .btn {
    display: block;
  width: 190px;
  height: 50px;
  border-radius: 15px;
  background-image: linear-gradient(to right, #8FD9A9 ,#54BFA1 );
  font-size: 1.1rem;
  color: #fff;
  margin: 1rem 0;
    text-align: center;
  cursor: pointer;
  transition: .5s;
    margin-left: 25px;
    text-decoration: none;
    
}