
  <nav class="navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        Casco
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="me-auto mb-2 mb-lg-0 w-100 justify-content-end gap-3">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          {% if not current_user.is_active %} <!-- se o usuário não estiver logado, vai apartecer o login e cadastro -->
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="{{ url_for('registrar_usuario') }}">Cadastro</a>
          </li>
          {% else %} <!-- se o usuário estiver logado, vai apartecer o o link para perfil e usuários -->
          <li class="nav-item">
            <a href="{{ url_for('turtles_view') }}" class="nav-link">Tartarugas</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('usuarios') }}" class="nav-link">Usuários</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('profile') }}" class="nav-link">Meu perfil</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('logout') }}" class="nav-link">Sair</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>  
